/* ********** */
/* Base rules */
/* ********** */

body {
  padding-bottom: 5rem;
}

/* ***************** */
/* Typeography rules */
/* ***************** */

.under-line {
  text-decoration: underline;
}
.bold {
  font-weight: bold;
}
/* ************ */
/* Layout rules */
/* ************ */

button {
  font-size: 1.6rem !important;
  font-weight: bold !important;
  margin-left: 35% !important;
  padding: 1rem;
  width: 30%;
}
th,
td {
  text-align: center !important;
}

.info2,
.info1,
.info3,
.total {
  width: max-content;
}
.info2 table {
  margin-bottom: 1rem;
}
.info2 {
  margin-bottom: 1rem;
}

/* ********************** */
/* Coloring the materials */
/* ********************** */

/* Burning Amber */
.info1 td:nth-child(2),
.info1 th:nth-child(2),
.info3 td:nth-child(3),
.info3 th:nth-child(3) {
  background-color: rgba(252, 190, 76, 0.7);
}
/* Pale Amber */
.info2 td:nth-child(2),
.info2 th:nth-child(2) {
  background-color: rgba(253, 8, 233, 0.7);
}
/* Pale Fragment */
.info3 td:nth-child(2),
.info3 th:nth-child(2) {
  background-color: rgba(195, 73, 252, 0.7);
}
/* Molten Shard */
.info1 td:nth-child(3),
.info1 th:nth-child(3),
.info3 td:nth-child(4),
.info3 th:nth-child(4) {
  background-color: rgba(219, 140, 255, 0.7);
}
/* Curing Catalyst */
.info3 td:nth-child(5),
.info3 th:nth-child(5) {
  background-color: rgba(73, 240, 252, 0.7);
}
/* Zenny */
.info1 td:nth-child(4),
.info1 th:nth-child(4),
.info2 td:nth-child(3),
.info2 th:nth-child(3),
.info3 td:nth-child(6),
.info3 th:nth-child(6) {
  background-color: rgba(255, 251, 19, 0.822);
}
/* Crystal Zenny */
.info1 td:nth-child(5),
.info1 th:nth-child(5),
.info3 td:nth-child(7),
.info3 th:nth-child(7) {
  background-color: rgba(255, 246, 119, 0.7);
}
